

h1
{
    font-size:45px;
    color: rgb(12, 6, 1);
    text-decoration-line:underline;
    text-decoration-color: rgb(255, 251, 0);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1460px;
    background-color: rgba(255, 255, 255, 0.315);
    border-color: aqua;
}
h2
{
    margin-left: 1460px;
    background-color: rgba(255, 255, 255, 0.315);
    border-color: aqua;
}

form
{
    color: rgb(239, 243, 23);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1500px;
    background-color: rgba(255, 255, 255, 0.315);
    border-color: aqua;
    font-weight: bold;
}
body
{
    background-image:radial-gradient(rgb(221, 242, 245), rgb(209, 242, 247));
    background-repeat: repeat;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("yellowandblue_Background.avif");
    background-size: cover;
}
